<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3-beta1" targetFramework="net453" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3-beta1" targetFramework="net453" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net453" />
  <package id="RabbitMQ.Client" version="3.4.3" targetFramework="net453" />
  <package id="StackExchange.Redis" version="1.0.371" targetFramework="net453" />
</packages>